{% extends 'default/index.html.twig' %}

{% block title %}
    Recover Password
{% endblock %}

{% block form %}
    <form class="form-signin" action="{{ path('setPassword') }}" method="POST">
        <h3>Recover password</h3>
        <input type="hidden" name="Token" id="Token" class="form-control" value="{{ token }}">
        <input type="password" name="Password" class="form-control" placeholder="Password" required autofocus>
        <input type="password" name="RepeatPassword" class="form-control" placeholder="Repeat password" required>
        <button type="submit" class="btn btn-lg btn-primary btn-block">OK</button>
    </form>
{% endblock %}