{% extends 'news/articlesBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/articles.css') }}">
{% endblock %}

{% block content %}

    <hr class="featurette-divider">
    <div class="row featurette">
        <a href="{{ path('news') }}">
            <div class="col-md-9 col-md-push-3">
                <h2 class="featurette-heading">Title <span class="text-muted">Views</span></h2>
                <p class="lead">TEXT</p>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <img src="#" class="featurette-image img-responsive center-block" alt="Image">
            </div>
        </a>
    </div>
    <hr class="featurette-divider">

{% endblock %}
