{% extends 'news/articlesBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/newsPage.css') }}">
{% endblock %}

{% block edit %}
    <li><a href="#">Edit</a></li>
    <li><a href="#">Delete</a></li>
{% endblock %}

{% block content %}
    <h1 class="page-header">Title</h1>

{% endblock %}
