{% extends 'default/index.html.twig' %}

{% block title %}
    Main page
{% endblock %}

{% block form %}
    <form class="form-signin" action="{{ path('authentication') }}" method="POST">
        <h3>Sign in to NewsPortal</h3>
        <input type="email" name="Email" id="Email" class="form-control" placeholder="Email" value="" required autofocus>
        <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" required>
        <a href="{{ 'recoverPassword' }}" class="help-block">Forgot password?</a>
        <button type="submit" class="btn btn-lg btn-success btn-block">Sign in</button>
    </form>

    <a href="{{ path('registration') }}">
        <button type="button" class="btn btn-lg btn-link btn-block">Create an account</button>
    </a>
{% endblock %}