<h3>Please verify your email address</h3>

Hello! You are successfully registered!
<p>Please verify your email address so we know that it's really you!</p>
<p><a href="http://www:8000/verifyEmail?token={{ token }}">Verify my email address</a></p>
<p>Cheers, NewsPortal</p>
